h1, h2, h3 { font-family: sans-serif; }
h1 {
  text-align: center;
  line-height: 1.5em;
  margin-top: 0.2em;
}

h2 {
  text-align: left;
}

html {
  background-color: #aaf;
  padding: 0 3%;
  font-family: sans-serif;
}

body {
  background-color: #f9f9f9;
  max-width: 48em;
  color: #000;
  margin: 11px auto;
  padding: 0.6em 4%;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #000;
}

body.wide {
  max-width: none;
}

div.frontmain {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}

div.frontmain .column {
  flex: 1;
  margin: 2px;
  padding: 10px;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

@media screen and (max-width: 650px) {
  div.frontmain  {
    flex-flow: column;
  }
}

div.frontmain ul {
  list-style-type: none;
  padding-left: 1em;
}

div.frontmain h2 {
  padding-top: 0;
  margin-top: 0;
  font-size: 1.2em;
  text-align: center;
}

a.downloadlink {
  display: block;
  font-weight: bold;
  background-color: #B9E06C;
  padding: 3px;
  margin-right: 1em;
  border-radius: 5px;
  text-align: center;
}

p, li, dt, dd {
  line-height: 1.3em;
}

dt {
  margin: 1em 0 0.5em;
  font-weight: bold;
}

address {
  margin: 1em 0;
}

em {
  font-weight: bold;
}

.valikko {
  background-color: #CCCCFF;
}

p.linkback {
  position: absolute;
  left: 0.2em;
  top: 0;
  min-width: 5em;
  margin-top: 12px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #f9f9f9;
  font-size: 0.8em;
  border-radius: 5px;
}

p.linkback a {
  text-decoration: none;
}

li {
  margin: 0.6em 0;
}

li.valittu {
  background-color: #DDDDFF;
}

.center {
  text-align: center;
}

a.suomi, span.suomi, div.suomi {
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 0 0.4ex;
}

ul.suomi {
  background-color: #ddd;
  border: 1px solid #ccc;
}

p.footer {
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
  clear: both;
  padding-top: 1em;
}

a img {
  border: none;
}

.ohjekuva_teksti {
  border: 1px solid black;
}

.paketit {
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.paketit th {
  background-color: #88BB88;
  color: black;
  border: 1px solid black;
  padding: 0 0.5ex;
}

.paketit td {
  border: 1px solid black;
  padding: 0 0.5ex;
}

pre, kbd {
  background-color: #ccf;
  border: 1px solid #aad;
  padding: 0 0.4ex;
}

span.progname {
  font-family: monospace;
}

a:link, a:link:hover { color: #00f; }
a:visited, a:visited:hover { color: #707; }
a:link, a:visited { text-decoration: underline; }
a:link:hover, a:visited:hover { text-decoration: none; color: #d00; }
